.remark-slide-content > h3:first-of-type {
    padding-right: 75px;
}
.remark-slide-content > h2:first-of-type {
    padding-right: 75px;
}
.remark-slide-content > h1:first-of-type {
    padding-right: 75px;
}

.remark-slide-content > h1:first-of-type {
    padding-right: 20px;
}

.small {
  font-size: 80%;
}
.big {
  font-size: 120%;
}
.full-width {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
}

.big-code {
  font-size: 120%;
  font-family: monospace, monospace;
}